@model Client

@{
    ViewBag.Title = "Edit client";
}

<h1>Редактирование клиента </h1>

<h4>клиент</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @* вставить название Id из модели клиент *@
            @Html.Hidden("Id", Model.Id)
            <div class="form-group">
                <label asp-for="Name" class="control-label">Имя</label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FName" class="control-label">Фамилия</label>
                <input asp-for="FName" class="form-control"/>
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label">Телефон</label>
                <input asp-for="Phone" class="form-control"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Редактировать" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться назад</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    
}